@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
  --primary:#301B3F;
  --secondary: black;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: 'Architects Daughter', cursive;
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}






