@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
  --primary:#301B3F;
  --secondary: black;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: 'Architects Daughter', cursive;
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  
  font-size: 3.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}





